* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(220, 220, 220, 0.8);
  color: black;
}

.dot-btn {
  text-align: center;
  position: relative;
  top: -50px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: white;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider-info {
  padding: 18px;
  background: #fff;
  transform: translateY(-40px);
  margin: 0 40px;
  display: flex;
  gap: 10px;
}

.slider-num {
  font-size: 27px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
}

.slider-titles {
  display: flex;
  flex-direction: column;
}

.slider-title {
  font-size: 25px;
  color: black;
  line-height: 1.2;
}

.slider-text {
  font-size: 12px;
  color: black;
  line-height: 1.2;
}

.slider-link {
  font-size: 12.5px;
  color: rgb(78, 78, 78);
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 8px;
  margin-left: auto;
  margin-top: 12px;
}
